<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, "script", "facebook-jssdk");
</script>
  <script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>

<div class="share-page">
  <p class="share-text">Paylaş &rarr;</p>
  <a class="twitter-share-button" target="_blank" rel="noopener noreferrer" data-size="large"
    href="https://twitter.com/intent/tweet?text={{site.url}}{{page.url}}">Tweet</a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" 
    target="_blank" rel="noopener noreferrer">Facebook</a>
</div>